<nav class="navbar navbar-expand-sm navbar-light fixed-top navbar_style">
    <a class="navbar-brand logo" routerLink="/"><img src="assets/logo.png"></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-secondary">
            <li class="nav-item">
                <a class="nav-link mx-2 text-secondary" routerLink = "/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link mx-2 text-secondary" routerLink = "/about">About</a>
            </li>

            <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-secondary" href="" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gallery
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="">New releases</a>
                    <a class="dropdown-item" href="">For rent</a>
                </div>
            </li> -->

            <li class="nav-item">
                    <a class="nav-link mx-2 text-secondary" routerLink = "/gallery">Gallery</a>
                </li>
            <li class="nav-item">
                <a class="nav-link mx-2 text-secondary" routerLink = "/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>