<div class="row d-flex flex-row col-lg-12">

    <div class="flex-column col-lg-7 justify">
        <div class="card col-lg-12 pl-0">
            <div class="row no-gutters">
                <div class="col-lg-4">
                    <img src="/assets/person.jpg" class="card-img" alt="..." style="height: 188px; width: 190px;">
                </div>
                <div class="col-lg-8">
                    <div class="card-body pr-0">
                        <h5 class="card-title">Stephan Putz</h5>
                        <p class=""><strong>Director of Business Development</strong></p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card col-lg-12 pl-0 ">
            <div class="row no-gutters">
                <div class="col-lg-4">
                    <img src="/assets/person2.jpg" class="card-img" alt="..." style="height: 188px; width: 190px;">
                </div>
                <div class="col-lg-8">
                    <div class="card-body pr-0">
                        <h5 class="card-title">Alexander Nikon</h5>
                        <p class=""><strong>Sales Manager</strong></p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-lg-5 ml-2">
        <div class="card col-lg-12">
            <p><strong>Questions?</strong></p>
            <p>Please speak with our trade advisor for more information:</p>
            <strong>Sales</strong>
            (910) 294-3208
            <strong>Service</strong>
            (910) 745-7815
            <strong>Parts</strong>
            (910) 745-7815
            <strong>Email</strong>
            anuaniris90@gmail.com
            <br>
            <strong>Hours</strong>
            M-F 09.00-17.00
            <br>
            <br>
            <p><fa-icon icon="globe"></fa-icon>  Our Location</p>
        </div>
    </div>
</div>