<div class="card bg-dark text-white image_opacity text-center">
  <img src="assets/car.jpeg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h1 class="card-title card_style">Your car dealership</h1>
    <h1 class="card-text">We have you covered!</h1>
    <h1 class="card-text">Contact us now to get the best deals</h1>
    <a href="#" class="btn btn-primary">Contact</a>
  </div>
</div>

<div class="row text-center col-lg-12 px-0 mx-0 mt-5 get_margin">
  <div class="card col-lg-4">
    <div class="card-body">
      <h5 class="card-title">Car service</h5>
      <p class="card-text">We have a team of qualified service technicians standing by to help you with any of your
        service related needs. From oil changes, tire rotations, brake pads or transmission problems, we’ve got trained
        technicians who are able to help.</p>
      <a href="#" class="btn btn-primary">Get a quote</a>
    </div>
  </div>

  <div class="card text-center col-lg-3 px-2 middle">
    <div class="card-body">
      <h5 class="card-title">Order parts</h5>
      <p class="card-text">As your automotive dealership, we’re dedicated to delivering high-quality service to you at
        every step of the car ownership process. That means delivering genuine OEM parts to our customers whether
        they’re planning a DIY home auto project, need repairs at our dealership, or want to improve their car with new
        accessories.</p>
      <a href="#" class="btn btn-primary">Get a quote</a>
    </div>
  </div>

  <div class="card text-center col-lg-4">
    <div class="card-body">
      <h5 class="card-title">Finance</h5>
      <p class="card-text">Our finance experts are here to guide you through the financing process and help you get into
        your new to you vehicle. Contact finance team today or if you’re ready to start
        the financing process, you can fill out our finance application online.</p>
      <a href="#" class="btn btn-primary">Contact</a>
    </div>
  </div>
</div>