<div class="row">
        <div class="col-md-5">
                <!-- We will build this form using ReactiveForm based on the property "form" inside customerservice.ts  -->
                <form [formGroup]="this.customerService.form" (ngSubmit)="onSubmit()">
                        <input type="hidden" formControlName="$key">
                        <!-- this is a primary key for each record of customer and after that we can display the active form control-->
                        <div class="form-group">
                                <label>Car Make</label>
                                <input formControlName="carType" class="form-control">
                                <!-- the value of the formControlName must match the name that we provided inside FormGroup in CustomerService class -->

                        </div>
                        <div class="form-group">
                                <label>Car Model</label>
                                <input formControlName="carModel" class="form-control"
                                        [ngClass]="{'is-invalid':submitted && formControls.carModel.errors}">
                                <div class="invalid-feedback" *ngIf="submitted && formControls.carModel.errors">
                                        This field is required</div>
                        </div>
                        <div class="form-group">
                                <label>Year</label>
                                <input formControlName="carYear" class="form-control">
                        </div>
                        <div class="form-group">
                                <label>Color</label>
                                <input formControlName="carColor" class="form-control">
                        </div>
                        <div class="form-group">
                                <label>Fuel Type</label>
                                <input formControlName="carFuel" class="form-control">
                        </div>
                        <div class="form-group">
                                <label>Image</label>
                                <input formControlName="carImage" class="form-control">
                        </div>
                        <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Submit">
                                <!-- the value of the formControlName must match the name that we provided inside FormGroup in CustomerService class -->

                        </div>
                </form>
        </div>
        <div class="col-md-7">
                <app-customer-list></app-customer-list>
        </div>

        <div class="alert alert-info" *ngIf="showSuccessMessage">
                Submitted successfully!
        </div>
</div>